/*
TOP-LEVELS STATEMENTS
    .Imports
    .Mixins definate
    .Functions definate
    .Modules
*/
/* 
UNIVERSALS STATEMENTS
    Variables, Control structures, and rules @error, @warm and @debug.
    CSS Declarations:
        Style rules, 
        At rules: @use, @import, @function, @forward, @extend, @at-root
        and Mixins
*/
h2 {
  margin-left: 1rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #FFEFF7;
  font-family: "IBM Plex Sans", sans-serif;
  color: #BABD8D;
}

header {
  width: 100%;
  max-height: 100px;
}
header nav {
  width: 90%;
  margin-inline: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header nav p {
  margin: 0;
  color: #7C6A0A;
  font-size: 2rem;
}
header nav .icons {
  align-self: center;
}
header nav .icons button {
  background: none;
  border-style: none;
  border: none;
}

main {
  width: 100%;
  height: auto;
}
main article {
  width: 90%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 2rem;
}
main article .impact-section {
  color: #7C6A0A;
}
main article .impact-section h1 {
  font-size: 3rem;
  color: #7C6A0A;
}
main article .impact-section p {
  font-size: 1.5rem;
}
main article .impact-section button {
  background: none;
  border-style: none;
  border: none;
}
main article .impact-section button {
  margin-top: 5rem;
  padding: 1rem 2rem;
  border-radius: 24px;
  display: block;
  background-color: #FA9500;
  color: #FFEFF7;
  font-weight: bold;
}
main article .image-section img {
  width: 100%;
  height: 90vh;
  border-radius: 8px;
}

.product-section .healthcare, .product-section .furniture {
  color: #7C6A0A;
}
.product-section .healthcare h2, .product-section .furniture h2 {
  font-size: 2rem;
}
.product-section .healthcare .cards__Container, .product-section .furniture .cards__Container {
  margin: 1rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}
.product-section .healthcare .cards__Container .card, .product-section .furniture .cards__Container .card {
  width: 250px;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  background-color: #FFDAC6;
  border-radius: 8px;
}
.product-section .healthcare .cards__Container .card .icon-wish, .product-section .furniture .cards__Container .card .icon-wish {
  display: grid;
}
.product-section .healthcare .cards__Container .card .icon-wish svg, .product-section .furniture .cards__Container .card .icon-wish svg {
  place-self: end;
  margin-bottom: 12px;
}
.product-section .healthcare .cards__Container .card .icon-wish svg path, .product-section .furniture .cards__Container .card .icon-wish svg path {
  stroke: #7C6A0A;
}
.product-section .healthcare .cards__Container .card picture, .product-section .furniture .cards__Container .card picture {
  width: 100%;
  height: 100%;
}
.product-section .healthcare .cards__Container .card picture img, .product-section .furniture .cards__Container .card picture img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.product-section .furniture .cards__Container .card {
  background-color: #BABD8D;
  color: #7C6A0A;
}
.product-section .furniture .cards__Container .card .icon-wish svg path {
  stroke: #FFDAC6;
}
.product-section .furniture .cards__Container .card picture img {
  filter: opacity(0.75);
}
.product-section .furniture .cards__Container .card:hover {
  background-color: #BABD8D;
  color: #FFEFF7;
}
.product-section .furniture .cards__Container .card:hover picture img {
  filter: opacity(1);
}

.info-section .about-us h2 {
  font-size: 2rem;
}
.info-section .about-us .mission {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FA9500;
  text-align: center;
  margin-inline: auto;
}
.info-section .about-us .mission .earth, .info-section .about-us .mission .innovations {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  background: #FA9500;
  width: 100%;
  height: 100px;
}

@media (max-width: 700px) {
  header nav {
    width: 100%;
    padding: 0;
  }
  header .icons button {
    padding: 0;
  }
  main article {
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(300px, auto-fit));
  }
  main article .impact-section button {
    margin: 3rem;
    margin-inline: auto;
  }
  main article .impact-section button button {
    background: none;
    border-style: none;
    border: none;
  }
  main article .image-section img {
    height: auto;
  }
  .info-section .about-us .mission {
    flex-direction: column;
  }
  .info-section .about-us .mission .earth, .info-section .about-us .mission .innovations {
    margin: 2rem 0;
    width: 80%;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */