/*
TOP-LEVELS STATEMENTS
    .Imports
    .Mixins definate
    .Functions definate
    .Modules
*/
/* 
UNIVERSALS STATEMENTS
    Variables, Control structures, and rules @error, @warm and @debug.
    CSS Declarations:
        Style rules, 
        At rules: @use, @import, @function, @forward, @extend, @at-root
        and Mixins
*/
$prim-color: #ffeff7;
$second-color: #ffdac6;
$third-color: #babd8d;
$button-color: #e86424;
$Other-color: #fa9500;
$Other-color-two: #7c6a0a;
$font-stack: "IBM Plex Sans", sans-serif;

@mixin flexStyles($displayS, $justifyC, $alignI) {
  display: $displayS;
  justify-content: $justifyC;
  align-items: $alignI;
}

@mixin gridStyle($displayS, $justifyC, $gridTemplateColumns) {
  display: $displayS;
  justify-content: $justifyC;
  grid-template-columns: $gridTemplateColumns;
}

@mixin buttons {
  button {
    background: none;
    border-style: none;
    border: none;

    &:hover {
      will-change: contents;
      transition: transform 0.3s ease;
      transform: scale(1.1);
    }
  }
}

h2 {
  margin-left: 2rem;
  font-size: 2rem;
}

html {
  scroll-behavior: smooth;

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $prim-color;
    font-family: $font-stack;
    color: $third-color;
    scroll-behavior: smooth;
  }
}

header {
  width: 100%;
  max-height: 100px;

  nav {
    width: 90%;
    margin-inline: auto;
    padding: 1rem;
    @include flexStyles(flex, space-between, center);
    flex-wrap: wrap;

    p {
      margin: 0 1rem;
      color: $Other-color-two;
      font-size: 2rem;
      font-weight: bold;
    }

    ul {
      display: flex;

      li {
        list-style: none;
        margin: 8px;

        a {
          text-decoration: none;
          color: $Other-color-two;
          font-size: 1.5rem;

          &:hover {
            font-weight: bold;
            color: $button-color
          }
        }
      }
    }
  }

  .icons {
    margin: 1rem;
    align-self: center;
    @include buttons;
  }
}


main {
  width: 100%;
  height: auto;

  article {
    width: 90%;
    margin-inline: auto;
    @include gridStyle(grid, null, repeat(2, minmax(300px, 1fr)));
    gap: 2rem;

    .impact-section {
      color: $Other-color-two;

      h1 {
        font-size: 3rem;
        color: $Other-color-two;
      }

      p {
        font-size: 1.5rem;
      }

      @include buttons;

      .button {
        margin-top: 5rem;
        padding: 1rem 2rem;
        border-radius: 24px;
        display: block;
        background-color: $button-color;
        color: $prim-color;
        font-weight: bold;
      }
    }

    .image-section {
      img {
        width: 100%;
        height: 90%;
        border-radius: 8px;
      }
    }
  }
}

.product-section {
  .healthcare {
    color: $Other-color-two;

    .cards__Container {
      margin: 1rem;
      @include gridStyle(grid, center, repeat(auto-fit, minmax(300px, 1fr)));
      justify-items: center;

      .card {
        width: 250px;
        height: 400px;
        margin: 1rem;
        padding: 1rem;
        background-color: $second-color;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        flex-direction: column; 

        picture {
          width: 100%;
          height: 50%;
          position: relative;
          
          .icon-wish {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
      
            svg {
              path {
                stroke: $Other-color-two;
              }
            }
          }
      
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
            filter: opacity(0.75);
            
          }
        }
      
        .info-product {
          width: 100%;
          height: 50%;  
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: small;
          .nameProduct {
            margin: 8px;
            align-self: flex-start;
          }
          .description {
            align-self: center;
          }
          .price {
            font-weight: bold;
            align-self: flex-end;
          }
        }
      
        transition: 0.3s ease;
      
        &:hover {
          background-color: $third-color;
          color: $prim-color;
          transform: scale(1.1);
      
          picture img {
            filter: opacity(1);
          }
        }
      }
    }
  }

  .furniture {
    @extend .healthcare;
  }
}

.info-section {
  .about-us {
    .mission {
      @include flexStyles(flex, center, center);
      color: $Other-color;
      text-align: center;
      margin-inline: auto;

      .earth {
        width: 40%;
        @include flexStyles(flex, center, center);
      }

      .innovations {
        @extend .earth;
      }
    }
  }

  .gallery {
    .images-Container {
      @include gridStyle(grid, center, repeat(auto-fit, minmax(300px, 1fr)));
      justify-items: center;
      gap: 16px;

      img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: 8px 30%;
        border-radius: 16px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .location {
    .map {
      @include flexStyles(flex, center, center);
      flex-direction: column;
      width: 100%;

      .map-img {
        width: 90%;
        object-fit: cover;
        place-self: center;
        border-radius: 24px;
      }
    }

    .text-map {
      margin-left: 3rem;

      h3 {
        font-weight: bold;
        color: $Other-color;
      }

      p {
        color: black;
      }
    }
  }
}

.contactUs {

  .formulary {

    p {
      text-align: center;
      color: $Other-color
    }

    .info--Container {
      @include gridStyle(grid, center, repeat(2, minmax(320px, 1fr)));
      margin: 1rem;
      padding: 1rem;
      border-radius: 8px;
      background-color: $second-color;
      color: $Other-color-two;

      .info--container__Name {
        width: 90%;
        margin: 1rem auto;

        input {
          width: 99%;
          height: 2rem;
          border: 1px solid $third-color;
          border-radius: 4px;

          &:focus-visible {
            outline: none;
          }

          &::placeholder {
            color: lightgray;
          }
        }
      }

      .info--container__LastName {
        @extend .info--container__Name;
      }

      .info--container__Email {
        @extend .info--container__Name;

      }

      .info--container__Comentario {
        width: 90%;
        margin: 1rem auto;

        textarea {
          width: 99%;
          height: 4rem;
          border: 1px solid $third-color;
          border-radius: 4px;

          &:focus-visible,
          :focus {
            outline: none;
          }

          &::placeholder {
            color: lightgray;
          }
        }
      }

    }

    .info--container__Submit {
      @include buttons;
      display: flex;
      justify-content: center;

      .button {
        padding: 1rem 4rem;
        border-radius: 24px;
        background-color: $button-color;
        color: $prim-color;
        font-weight: bold;
      }
    }
  }
}

footer {
  background: $Other-color;
  width: 100%;
  height: auto;
  color: $prim-color;
  border-radius: 12px 12px 0 0;

  h3 {
    padding: 2rem;
  }

  p {
    margin: 1rem 2rem;
  }

  .social-media {
    @include flexStyles(flex, center, center);
    gap: 40px;
    padding-bottom: 40px;

    svg {
      font-size: 3rem;
    }

  }
}

@media (max-width: 750px) {
  header {
    nav {
      width: 100%;
      padding: 0;

      ul {
        display: none;
      }
    }

    .icons {
      button {
        padding: 0;
      }
    }
  }

  main {
    article {
      gap: 1rem;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, minmax(300px, auto-fit));

      .impact-section {
        button {
          margin: 3rem;
          margin-inline: auto;
          @include buttons;
        }
      }

      .image-section {
        img {
          height: auto;
        }
      }
    }
  }

  .info-section {
    .about-us {
      .mission {
        flex-direction: column;

        .earth,
        .innovations {
          margin: 2rem 0;
          width: 80%;
          flex-direction: column;
        }

        .innovations {
          @extend .earth;
        }
      }
    }
  }

  .contactUs {

    .formulary {
      @include flexStyles(flex, center, center);
      flex-direction: column;

      .info--Container {
        @include gridStyle(grid, center, repeat(auto-fit, minmax(320px, 1fr)));
      }
    }
  }
}