/*
TOP-LEVELS STATEMENTS
    .Imports
    .Mixins definate
    .Functions definate
    .Modules
*/
/* 
UNIVERSALS STATEMENTS
    Variables, Control structures, and rules @error, @warm and @debug.
    CSS Declarations:
        Style rules, 
        At rules: @use, @import, @function, @forward, @extend, @at-root
        and Mixins
*/
$prim-color: #FFEFF7;
$second-color: #FFDAC6;
$third-color: #BABD8D;
$button-color: #E86424;
$Other-color: #FA9500;
$Other-color-two: #7C6A0A;
$font-stack: "IBM Plex Sans", sans-serif;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $prim-color;
    font-family: $font-stack;
    color: $third-color;
}
header{
    width: 100%;
    max-height: 100px;
    nav{
        width: 90%;
        margin-inline: auto;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        flex-wrap: wrap;
        p{
            margin: 0;
            color: $Other-color-two;
            font-size: 2rem;
        }
        .icons{
            align-self: center;
            button{
                border: none;
                background: none;
            }
        }
    }
}
main{
    width: 100%;
    height: auto;
    article {
        width: 90%;
        margin-inline: auto;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        .impact-section{
            color: $Other-color-two;
            h1{
                font-size: 3rem;
                color: $Other-color-two;
            }
            p{
                font-size: 1.5rem;
            }
            button{
                margin-top: 5rem;
                padding: 1rem 2rem;
                border: none;
                border-radius: 24px;
                display: block;
                background-color: #FA9500;
                color: $prim-color;
                font-weight: bold;
            }
        }
        .image-section{
            img{
                width: 100%;
                height: 90vh;
                border-radius: 8px;
            }
        }        
    }
}
.product-section{
    .healthcare{
        color: $Other-color-two;
        h2{
            font-size: 2rem;
        }
        .cards__Container{
            margin: 1rem;
            display: grid;
            justify-items: center;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            .card{
                width: 250px;
                height: auto;
                margin: 1rem;
                padding: 1rem;
                background-color: $second-color;
                border-radius: 8px;
                .icon-wish{
                    display: grid;
                    svg{
                        place-self: end;
                        margin-bottom: 8px;
                        path{
                            stroke: $Other-color-two;
                        }
                    }
                }
                picture{
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 70%;
                        object-fit: cover;
                        border-radius: 8px;
                    }
                }
            }
        }
    }
    .furniture{
        @extend .healthcare;
        .cards__Container{
            
            .card{
                background-color: $third-color;
                color: $Other-color-two;
                .icon-wish{
                    svg{
                        path{
                            stroke: $second-color;
                        }
                    }
                }
                picture{
                    img{
                        filter:opacity(.75);
                    }
                    img:hover{
                        filter: opacity(1);
                    }
                }
            }
        }
    }
}
footer{
    background: $Other-color;
    width: 100%;
    height: 100px;
}

@media (max-width: 700px){
    header{
        nav{
            width: 100%;
            padding: 0;
        }
        .icons{
            button{
                padding: 0;
            }
        }
    }
    main{
        article {
            gap: 1rem;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, minmax(300px, autp));
            .impact-section{
                button{
                    margin: 3rem;
                    margin-inline: auto;
                }
            }
            .image-section{
                img{
                    height: auto;
                }
            }        
        }
    }
}