/*
TOP-LEVELS STATEMENTS
    .Imports
    .Mixins definate
    .Functions definate
    .Modules
*/
/* 
UNIVERSALS STATEMENTS
    Variables, Control structures, and rules @error, @warm and @debug.
    CSS Declarations:
        Style rules, 
        At rules: @use, @import, @function, @forward, @extend, @at-root
        and Mixins
*/
$prim-color: #FFEFF7;
$second-color: #FFDAC6;
$third-color: #BABD8D;
$button-color: #E86424;
$Other-color: #FA9500;
$font-stack: "IBM Plex Sans", sans-serif;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $prim-color;
    font-family: $font-stack;
}
header{
    width: 100%;
    height: 100px;
}
main{
    width: 100%;
    height: 100vh;
}
footer{
    background: $Other-color;
    width: 100%;
    height: 100px;
}